<%- contentFor('title') %>Log in
<%- contentFor('body') %>
<main class="container">
  <div class="row justify-content-center">
    <div class="col col-sm-10 col-md-8 col-lg-6 col-xl-4">
      <% if (flash.info || flash.error) { %>
        <% if (flash.info) { %>
        <div class="alert alert-primary">
          <%= flash.info.join(' '); %>
        </div>
        <% } %>
        <% if (flash.error) { %>
        <div class="alert alert-danger">
          <%= flash.error.join(' '); %>
        </div>
        <% } %>
      <% } %>
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Register</h2>
          <form method="post" action="/register">
            <input type="hidden" name="redirectURI" value="<%= redirectURI %>" />
            <div class="mb-3">
              <label class="form-label" for="firstName">First name</label>
              <input type="text" class="form-control <%= hasError('firstName') ? 'is-invalid' : '' %>" id="firstName" name="firstName" value="<%= user.firstName %>" />
              <%- renderErrorMessages('firstName') %>
            </div>
            <div class="mb-3">
              <label class="form-label" for="lastName">Last name</label>
              <input type="text" class="form-control <%= hasError('lastName') ? 'is-invalid' : '' %>" id="lastName" name="lastName" value="<%= user.lastName %>" />
              <%- renderErrorMessages('lastName') %>
            </div>
            <div class="mb-3">
              <label class="form-label" for="email">Email</label>
              <input type="text" class="form-control <%= hasError('email') ? 'is-invalid' : '' %>" id="email" name="email" value="<%= user.email %>" />
              <%- renderErrorMessages('email') %>
            </div>
            <div class="mb-3">
              <label class="form-label" for="password">Password</label>
              <input type="password" class="form-control <%= hasError('password') ? 'is-invalid' : '' %>" id="password" name="password" value="<%= user.password %>" />
              <%- renderErrorMessages('password') %>
            </div>
            <div class="mb-3 d-grid">
              <button class="btn btn-primary" type="submit">Submit</button>
            </div>
            <div class="mb-3 text-center">
              <a href="/login?redirectURI=<%= encodeURIComponent(redirectURI || '/') %>">Already have an account?</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
