<%- contentFor('title') %>Log in
<%- contentFor('body') %>
<main class="container">
  <div class="row justify-content-center">
    <div class="col col-sm-10 col-md-8 col-lg-6 col-xl-4">
      <% if (flash.info || flash.error) { %>
        <% if (flash.info) { %>
        <div class="alert alert-primary">
          <%= flash.info.join(' '); %>
        </div>
        <% } %>
        <% if (flash.error) { %>
        <div class="alert alert-danger">
          <%= flash.error.join(' '); %>
        </div>
        <% } %>
      <% } %>
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Log in</h2>
          <form method="post" action="/login">
            <input type="hidden" name="redirectURI" value="<%= redirectURI %>" />
            <div class="mb-3">
              <label class="form-label" for="email">Email</label>
              <input type="text" class="form-control" id="email" name="email" />
            </div>
            <div class="mb-3">
              <label class="form-label" for="password">Password</label>
              <input type="password" class="form-control" id="password" name="password" />
            </div>
            <div class="mb-3 d-grid">
              <button class="btn btn-primary" type="submit">Submit</button>
            </div>
            <div class="mb-3 text-center">
              <a href="/passwords/forgot">Forgot your password?</a><br />
              <a href="/register?redirectURI=<%= encodeURIComponent(redirectURI || '/') %>">Need an account?</a><br />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>  
</main>
